
<div class="container-fluid">
  <nav class="menu slideout-menu" id="menu">
    <header>
      <h2>Filters</h2>
    </header>
    <input id="searchbar" type="text" class="form-control" placeholder="Search" onkeyup="searchfilter()">
    <h4>Simplicity (# of ingredients)</h4>
    <select multiple class="btn-block">
      <option class="list-group-item">1 - 4</option>
      <option class="list-group-item">5 - 8</option>
      <option class="list-group-item">9 - 12</option>
      <option class="list-group-item">13+</option>
    </select>
    <h4>Time (Preperation)</h4>
    <select multiple class="btn-block">
      <option class="list-group-item">None</option>
      <option class="list-group-item">1 - 30 min.</option>
      <option class="list-group-item">30 min. - 2 hour</option>
      <option class="list-group-item">2 hour+</option>
    </select>
    <h4>Time (Cooking)</h4>
    <select multiple class="btn-block">
      <option class="list-group-item">1 - 5 min.</option>
      <option class="list-group-item">5 - 30 min.</option>
      <option class="list-group-item">30 min. - 2 hour</option>
      <option class="list-group-item">2 hour+</option>
    </select>
    <h4>Restrictions</h4>
    <select multiple class="btn-block">
      <option class="list-group-item">None</option>
      <option class="list-group-item">Vegan</option>
      <option class="list-group-item">Vegetarian</option>
      <option class="list-group-item">Contains Nuts</option>
      <option class="list-group-item">Contains Eggs</option>
    </select>
    <h4>Course</h4>
    <select multiple class="btn-block">
      <option class="list-group-item">Appetizer</option>
      <option class="list-group-item">Main Dish</option>
      <option class="list-group-item">Dessert</option>
      <option class="list-group-item">Drink</option>
    </select>
  </nav>
  <main class="panel slideout-panel" id="panel">
    <header class="panel-header">
      <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-align-justify"></span>
      </button>
      <div align="right">
      <a class="btn btn-primary btn-lg" href="login">Login</a>
      <a class="btn btn-primary btn-lg" href="register">Register</a>
    </div>
    </header>
    <h1>Homepage</h1>
    <a class="btn btn-primary btn-lg btn-block" href="/createrecipe">Create Recipe</a>
    {{#each recipes}}
    <a href="/viewrecipe/{{@index}}" class="recipeitem">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="col-sm-3">
            <img class="media-object" src="{{this.pic}}" alt="Food" height="64" width="64">
          </div>
          <div class="col-sm-9">
            <p>{{this.name}}</p>
          </div>
        </div>
        <div class="panel-body">
          <small>{{this.ingredientnum}} ingredients | {{this.preptime}} min. prep | {{this.cooktime}} min cook | {{#each this.diet}}{{this}} |{{/each}} {{this.course}}</small>
        </div>
      </div>
    </a>
    {{/each}}
  </main>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/0.1.12/slideout.min.js"></script>
<script>
  var slideout = new Slideout({
    'panel': document.getElementById('panel'),
    'menu': document.getElementById('menu'),
    'padding': 256,
    'tolerance': 70
  });
  var allitems;
  $(document).ready(function(){
    allitems = $('.recipeitem');
  });
  function searchfilter() {
    var val = $.trim($("#searchbar").val()).toUpperCase();
    console.log();
    if (val === "")
        allitems.show();
    else {
        allitems.hide();
        allitems.filter(function() {
          console.log(2);
            return -1 != $(this).text().toUpperCase().indexOf(val);
        }).show();
    }
  }
</script>
