
<div class="container-fluid" style="position:relative;">
  <nav class="menu slideout-menu" id="menu">
    <div id="contents">
    <header>
      <h2>Filters</h2>
    </header>
    <input id="searchbar" type="text" class="form-control" placeholder="Search" onkeyup="searchfilter()">
    <h4>Simplicity (# of ingredients)</h4>
    <select id="simplicity" class="btn btn-default btn-block" onchange="searchfilter()">
      <option class="list-group-item">Any</option>
      <option class="list-group-item">1 - 4</option>
      <option class="list-group-item">5 - 8</option>
      <option class="list-group-item">9 - 12</option>
      <option class="list-group-item">13+</option>
    </select>
    <h4>Prep Time</h4>
    <select id="prep" class="btn btn-default btn-block" onchange="searchfilter()">
      <option class="list-group-item">Any</option>
      <option class="list-group-item">None</option>
      <option class="list-group-item">1 - 30 min.</option>
      <option class="list-group-item">30 min. - 1 hour</option>
      <option class="list-group-item">1 - 2 hours</option>
      <option class="list-group-item">2+ hours</option>
    </select>
    <h4>Cook Time</h4>
    <select id="cook" class="btn btn-default btn-block" onchange="searchfilter()">
      <option class="list-group-item">Any</option>
      <option class="list-group-item">1 - 5 min.</option>
      <option class="list-group-item">5 - 30 min.</option>
      <option class="list-group-item">30 min. - 1 hour</option>
      <option class="list-group-item">1 - 2 hours</option>
      <option class="list-group-item">2+ hours</option>
    </select>
    <h4>Restrictions</h4>
    <div id="restrictions" align="center" class="btn-group-vertical btn-block">
      <label class="btn btn-default"><input id="restvegan" type="checkbox" onchange="searchfilter()">Vegan</label>
      <label class="btn btn-default"><input id="restvege" type="checkbox" onchange="searchfilter()">Vegetarian</label>
      <label class="btn btn-default"><input id="restnuts" type="checkbox" onchange="searchfilter()">Does not contain Nuts</label>
      <label class="btn btn-default"><input id="resteggs" type="checkbox" onchange="searchfilter()">Does not contain Eggs</label>
    </div>
    <h4>Course</h4>
    <select id="course" class="btn btn-default btn-block" onchange="searchfilter()">
      <option class="list-group-item">Any</option>
      <option class="list-group-item">Appetizer</option>
      <option class="list-group-item">Main Dish</option>
      <option class="list-group-item">Dessert</option>
      <option class="list-group-item">Drink</option>
    </select>
    </div>
  </nav>
  <main class="panel slideout-panel" id="panel" style="background-color:#1E0300;">
    <header class="panel-header">
       <button id="togglebutton" type="button" class="btn btn-default btn-lg js-slideout-toggle">
        <span class="glyphicon glyphicon-chevron-right"><h4>Filter</h4></span>
      </button>
      <span align="right">
      {{#if name}}
        <a class="btn button2" style="height: 50px; width: 100px;" href="../account/{{name}}" >Hi, {{name}}</a>
        <a class="btn button2" style="height: 50px; width: 100px;" href="../logout">Logout</a>
      {{else}}
        <a class="btn button2" style="height: 50px; width: 100px;" href="../login/attempt">Login</a>
        <a class="btn button2" style="height: 50px; width: 100px;" href="../register">Register</a>
      {{/if}}
    </span>
    </header>

      <div style="position:relative; align:center; margin-bottom:25px;">
        <h1>Simplicity</h1>
        <br>
        <a class="btn btn-block button2" style="height: 50px;" onclick="clickbutton()" href="../createrecipe">Post Your Recipe</a>
      </div>

    {{#each recipes}}
    <a href="../viewrecipe/{{@index}}" class="recipeitem" recipename="{{this.name}}" recipeingredientnum="{{this.ingredientnum}}" recipepreptime="{{this.preptime}}" recipecooktime="{{this.cooktime}}" recipecourse="{{this.course}}" recipediet="{{#each this.diet}}{{this}} {{/each}}">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="col-sm-3">
            <img class="media-object" src="{{this.pic}}" alt="Food" height="64" width="64">
          </div>
          <div class="col-sm-9">
            <p>{{this.name}}</p>
          </div>
        </div>
        <div class="panel-body">
          <small>{{this.ingredientnum}} ingredients | {{this.preptime}} min. prep | {{this.cooktime}} min cook | {{#each this.diet}}{{this}} |{{/each}} {{this.course}}</small>
        </div>
      </div>
    </a>
    {{/each}}
  </main>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/0.1.12/slideout.min.js"></script>
<script>
  var slideout = new Slideout({
    'panel': document.getElementById('panel'),
    'menu': document.getElementById('menu'),
    'padding': 256,
    'tolerance': 70
  });
  document.querySelector('.js-slideout-toggle').addEventListener('click', function() {
        slideout.toggle();

         if (slideout.isOpen())
        {
           $("#togglebutton").attr("class", "btn btn-danger btn-lg js-slideout-toggle");
           $("#togglebutton").html("<span class='glyphicon glyphicon-chevron-left'><h4 style='color:white'>Close</h4></span>");
        }
         else
         {
           $("#togglebutton").attr("class", "btn btn-default btn-lg js-slideout-toggle");
           $("#togglebutton").html("<span class='glyphicon glyphicon-chevron-right'><h4>Filter</h4></span>");
        }

      });


  var allitems;
  $(document).ready(function(){
    allitems = $('.recipeitem');
  });
  function clickbutton() {ga('send',	'event',	'change_recipe',	'click');}
  function searchfilter() {
    var searchval = $.trim($("#searchbar").val()).toUpperCase();
    var simpvallow = 1;
    var simpvalhigh = 50;
    switch($.trim($("#simplicity").val())) {
    case "1 - 4":
        simpvallow = 1;
        simpvalhigh = 4;
        break;
    case "5 - 8":
        simpvallow = 5;
        simpvalhigh = 8;
        break;
    case "9 - 12":
        simpvallow = 9;
        simpvalhigh = 12;
        break;
    case "13+":
        simpvallow = 13;
        simpvalhigh = 50;
        break;
    }
    var prepvallow = 0;
    var prepvalhigh = 60000;
    switch($.trim($("#prep").val())) {
    case "None":
        prepvallow = 0;
        prepvalhigh = 0;
        break;
    case "1 - 30 min.":
        prepvallow = 1;
        prepvalhigh = 30;
        break;
    case "30 min. - 1 hour":
        prepvallow = 30;
        prepvalhigh = 60;
        break;
    case "1 - 2 hours":
        prepvallow = 60;
        prepvalhigh = 120;
        break;
    case "2+ hours":
        prepvallow = 120;
        prepvalhigh = 60000;
        break;
    }
    var cookvallow = 0;
    var cookvalhigh = 60000;
    switch($.trim($("#cook").val())) {
    case "1 - 5 min.":
        cookvallow = 1;
        cookvalhigh = 5;
        break;
    case "5 - 30 min.":
        cookvallow = 5;
        cookvalhigh = 30;
        break;
    case "30 min. - 1 hour":
        cookvallow = 30;
        cookvalhigh = 60;
        break;
    case "1 - 2 hours":
        cookvallow = 60;
        cookvalhigh = 120;
        break;
    case "2+ hours":
        cookvallow = 120;
        cookvalhigh = 60000;
        break;
    }
    var courseval = $.trim($("#course").val());
    var restvegan = $.trim($("#restvegan").is(':checked')) === "false";
    var restvege = $.trim($("#restvege").is(':checked')) === "false";
    var restnuts = $.trim($("#restnuts").is(':checked')) === "false";
    var resteggs = $.trim($("#resteggs").is(':checked')) === "false";
    allitems.hide();
    allitems.filter(function() {
      var ingnum = parseInt($(this).attr("recipeingredientnum"));
      var prept = parseInt($(this).attr("recipepreptime"));
      var cookt = parseInt($(this).attr("recipecooktime"));
        return (-1 != $(this).attr("recipename").toUpperCase().indexOf(searchval)) &&
               (simpvallow <= ingnum && ingnum <= simpvalhigh) &&
               (prepvallow <= prept && prept <= prepvalhigh) &&
               (cookvallow <= cookt && cookt <= cookvalhigh) &&
               (courseval === "Any" || (-1 != $(this).attr("recipecourse").indexOf(courseval))) &&
               (restvege || (-1 != $(this).attr("recipediet").indexOf("Vegetarian"))) &&
               (restvegan || (-1 != $(this).attr("recipediet").indexOf("Vegan"))) &&
               (restnuts || (-1 == $(this).attr("recipediet").indexOf("Contains Nuts"))) &&
               (resteggs || (-1 == $(this).attr("recipediet").indexOf("Contains eggs")));
    }).show();
  }


</script>
