<html>
<head>
  <title>My HCI Friends</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

     
</head>

<body>

<div class="container">
<div>
  <h1>
    <img class="media-object" src="{{recipe.pic}}" alt="Food" height="120" width="120">
    {{recipe.name}}
  <small>{{recipe.ingredientnum}} ingredients | {{recipe.preptime}} min. prep | {{recipe.cooktime}} min cook | {{#each recipe.diet}}{{this}} |{{/each}} {{recipe.course}}</small></h1>
</div>
<div>
  <h2>Ingredients</h2>
    {{#each recipe.ingredients}}
    <h3>{{@index}}. <small>{{this}}</small></h3>{{/each}}
</div>
<div>
  <h2>Directions</h2>
    {{#each recipe.directions}}
    <h3>{{@index}}. <small>{{this}}</small></h3>{{/each}}
</div>

</div>

<a class="btn btn-primary btn-lg btn-block" href="/">Back</a>

<script src="public/js/jquery-1.11.0.js"></script>
<script src="public/js/bootstrap.js"</script>
<script src="public/js/hci-friends.js"</script>


</body>
</html>