<div class="container">
<div>
  <h1>
    <img class="media-object" src="{{recipe.pic}}" alt="Food" height="120" width="120">
    {{recipe.name}}
  <br>
  <small>{{recipe.ingredientnum}} ingredients | {{recipe.preptime}} min. prep | {{recipe.cooktime}} min cook | {{#each recipe.diet}}{{this}} |{{/each}} {{recipe.course}}</small></h1>
</div>
<div>
  <h2>Ingredients</h2>
    {{#each recipe.ingredients}}
    <h3>{{inc @index}}. <small>{{this}}</small></h3>{{/each}}
</div>
<div>
  <h2>Directions</h2>
    {{#each recipe.directions}}
    <h3>{{inc @index}}. <small>{{this}}</small></h3>{{/each}}
</div>

</div>

<div style="position:relative; margin-top:25px; margin-left:5px; margin-bottom:25px;">
  <a class="button2" href="/">Back</a>
</div>